* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.allUserContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 70dvw;
  height: 80dvh;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input {
  all: unset;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 30px;
  width: 40dvw;
  height: 28px;
  margin-bottom: 100px;
  padding: 10px;
  padding-left: 20px;
}

.emptyContainer {
  width: 100%;
  height: 20dvh;
  /* background-color: blue; */
}
